In [1]:
# Ziel: eine csv erstellen, die die Preisentwicklung der verschiedenen Produkte 
#       darstellt
""" Kategorien: 
- Heißgetränke
- Alkoholfreie Getränke
- Bier
- Wein & Sekt
"""
# Vergleich mit food_all_cleaned.csv: Alle EInträge sind nach Zeit sortiert. Wurden sie konkateniert?

' Kategorien: \n- Heißgetränke\n- Alkoholfreie Getränke\n- Bier\n- Wein & Sekt\n'

In [2]:
import pandas as pd
import numpy as np
import glob
import os

In [3]:
all_files = glob.glob(os.path.join("*.csv"))

df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [4]:
df.sort_values(["date", "category"], inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 991 entries, 826 to 108
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category     991 non-null    object
 1   name         991 non-null    object
 2   description  407 non-null    object
 3   image        736 non-null    object
 4   vegetaric    991 non-null    object
 5   vegan        991 non-null    object
 6   bio          991 non-null    object
 7   menu         991 non-null    object
 8   price        991 non-null    float64
 9   date         991 non-null    object
dtypes: float64(1), object(9)
memory usage: 85.2+ KB

In [6]:
df = df.reset_index(drop=True)

In [7]:
df["name"] = np.where(df["name"].str.lower().str.contains("grauburgunder"), "Grauburgunder", df["name"])

In [8]:
df["name"] = np.where(df["name"].str.lower().str.contains("gin tonic"), "Gin Tonic", df["name"])

In [9]:
df["name"] = np.where(
    df["name"].str.lower().str.contains(r"\bgin\b") & ~df["name"].str.lower().str.contains("gin tonic"),
    "Gin",
    df["name"]
)

In [10]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("rhabarber"),
    "Bio Rhabarber Limonade",
    df["name"]
)

In [11]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("zitrone") & ~df["name"].str.lower().str.contains("gin"),
    "Bio Zitronen Limonade",
    df["name"]
)

In [12]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("riesling"),
    "Riesling",
    df["name"]
)

In [13]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("rotwein"),
    "Rotwein",
    df["name"]
)

In [14]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("radler"),
    "Bitburger Radler",
    df["name"]
)

In [15]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("sekt"),
    "Sekt",
    df["name"]
)

In [16]:
df["name"] = np.where(
    df["name"].str.lower().str.contains("hell"),
    "Bier Hell",
    df["name"]
)

In [17]:
df.to_csv("baverages_concat.csv", index=False)